@media print {
  body * {
    visibility: hidden;
  }

  #print-receipt,
  #print-receipt * {
    visibility: visible;
  }

  #print-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #print-receipt button,
  #print-receipt input,
  #print-receipt #action,
  .print-hidden {
    display: none;
  }

  .bg-white,
  .bg-gray-50,
  .bg-gray-100 {
    background: none;
  }

  .shadow,
  .shadow-sm,
  .outline-none {
    box-shadow: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 4px;
    font-size: 12px;
  }

  .border {
    border-color: #000;
  }

  .rounded {
    border-radius: 0;
  }

  .text-black {
    color: #000;
  }

  table,
  tr,
  td,
  th {
    page-break-inside: avoid;
  }
}

@page {
  size: A5;
}
